<!--The content below is only a placeholder and can be replaced.-->
<!-- Page Loader -->
<div id="awz-preloader">
    <div class="loader">
        <div class="ball-pulse-sync">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<!-- full screen form controls -->
<i class='fa fa-times icon-close'></i>
<form  action="/" class='search-input'>
  <input class='input-search' placeholder='Start Typing' type='text'>
</form>

<app-header></app-header>

<app-sidenav></app-sidenav>

 <main >
    <router-outlet ></router-outlet>
</main> 

<!-- <app-footer></app-footer> -->
