<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright">
                    <i class="fa fa-copyright"></i> {{ today | date: 'yyyy' }} Reliance Industries Limited. All rights reserved.
                </div>
            </div>
            <div class="col-md-6">
                <div class="footerLinks">
                    <a href="">Privacy Policy</a>
                    <a href="">Legal Notice</a>
                    <a href="">Careers</a>
                    <a href="">Report Security Issue</a>
                </div>
            </div>
        </div>
    </div>
</footer>